<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ><a href="/">Registreeru arstile </a></li>
                <li class="active"><a href="/broneeringud">Vaata kõiki registreeringuid</a></li>

            </ul>
            <form name="search" action="search"  method="post" class="navbar-form navbar-left">
                <form>
                    <div class="form-group">
                        <input type="text" name='search' id="message"  class="form-control" placeholder='Arstinimi'>
                        </input>
                    </div>
                    <button type="submit" id="sendButton"  class="btn btn-default">Otsi</button>
                </form>
            </form>
        </div>
    </div>
</nav>



<h3 th:if="${#lists.isEmpty(visits)}" class="text-center"> Registreerimised puuduvad </h3>





<table th:unless="${#lists.isEmpty(visits)}" class="table table-striped">
    <thead>
    <tr>
        <th>Arsti nimi</th>
        <th>Kuupäev</th>
        <th>Kellaaeg</th>
        <th>Ava</th>
    </tr>
    </thead>
    <tbody>
    <!--<button type="button" value= ${visit.id} class="btn btn-primary btn-circle btn-lg"><i class="glyphicon glyphicon-list"></i></button>-->

<tr th:each="visit : ${visits}">
    <td th:text="${visit.dentistName}"></td>
    <td th:text="${#dates.format(visit.visitTime, 'dd-MM-yyyy')}"></td>
    <td th:text="${visit.visitClock}"></td>
    <td> <form name="specific" action="specific" method="post"> <button type="submit" name="button" th:value="${visit.id}" class="btn btn-primary btn-circle btn-md"> <i class="glyphicon glyphicon-list"></i></button> </form> </td>
</tr>
    </tbody>
</table>



<script type="text/javascript"
        src="webjars/jquery/3.2.0/jquery.min.js"></script>

<script>

    $(document).ready(function(){
        $('#sendButton').attr('disabled',true);
        $('#message').keyup(function(){
            if($(this).val().length !=0)
                $('#sendButton').attr('disabled', false);
            else
                $('#sendButton').attr('disabled',true);
        })
    });
</script>
</body>
</html>