<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:c="http://www.w3.org/1999/XSL/Transform">
<body>
<h2 class="text-center" th:text="#{registreerimine.ok}">registreerimine.ok</h2>
<script>

    var delay = 600;
    setTimeout(function(){ window.location = "/"; }, delay);


</script>

</body>
</html>